<<<<<<<< HEAD:CleanArchitecture.Blazor/Views/Layout/MainLayoutAr.razor
﻿@using CleanArchitecture.Blazor.Views.Components.Navigations
@inherits LayoutComponentBase
========
﻿@inherits LayoutComponentBase
>>>>>>>> 8b9a85b426e4672517b8b4d72f503f4dfa09bdf5:CleanArchitecture.Blazor/Views/Components/Layout/MainLayoutAr.razor

<div class="page" dir="rtl">

    <div class="sidebar">
        <NavMenu ActiveLanguage="ar" />
    </div>

    <main>
        <div class="top-row px-4">
            <a href="about" >About</a>
        </div>

        <article class="content px-4">
            @Body
        </article>
    </main>

    

    
</div>
