@using CleanArchitecture.Blazor.ViewModels.Contracts.Game
@using Microsoft.AspNetCore.Components

@page "/game/add"

@inject NavigationManager Navigation
@inject IGamesClient GamesClient
@inject IGenresClient GenresClient
@inject ICreateGameViewModel ViewModel


@code
{
    #region Parameters

    [SupplyParameterFromForm()]
    private string GameName { get; set; } = null!;

    [SupplyParameterFromForm()]
    private int GameGenreId { get; set; }

    [SupplyParameterFromForm()]
    private decimal GamePrice { get; set; }

    [SupplyParameterFromForm()]
    private int GameYear { get; set; }

    #endregion

    #region Overrides

    //Called When Component is ready to start and its parameters was set
    protected override void OnInitialized()
    {
        //Set Default Values for Form
        GameName = string.Empty;
        GameGenreId = -1;
        GamePrice = 100;
        GameYear = 2024;

        //ViewModel.CreatedGame = Game;
        ViewModel.Genres = GenresClient.GetGameGenres();
    }

    #endregion

    #region Form Events

    private void HandleNewForm()
    {
        GamesClient.AddGame(GameName,GameGenreId,GamePrice,GameYear);

        Navigation.NavigateTo("/game/list");
    }

    #endregion

}

<PageTitle>New Game</PageTitle>

<h3>New Game</h3>

<EditForm class="row g-3"  FormName="FormNewGameCatalog" OnSubmit="HandleNewForm">

    <div class="col-12">
        <label for="txtName" class="form-label">Name</label>
        <InputText id="txtName" @bind-Value="GameName" class="form-control" placeholder="Name" />
    </div>

    <div class="col-md-4">
        <label for="cboGenre" class="form-label">Genre</label>
        <InputSelect id="cboGenre" class="form-select" @bind-Value="GameGenreId">
            <option value="-1" selected>Select...</option>

            @foreach (var genre in ViewModel.Genres!)
            {
                <option value="@genre.Id">@genre.Name</option>
            }

        </InputSelect>
    </div>

    <div class="col-md-4">
        <label for="txtPrice" class="form-label">Price</label>
        <InputNumber id="txtPrice" class="form-control" @bind-Value="GamePrice" />
    </div>

    <div class="col-md-4">
        <label for="txtYear" class="form-label">Year</label>
        <InputNumber id="txtYear" class="form-control" @bind-Value="GameYear" />
    </div>

    <div class="col-12">
        <button type="submit" class="btn btn-primary" role="button">Save</button>
        <a class="btn btn-secondary" role="button" href="game/list">Cancel</a>
    </div>

</EditForm>
