@code
{
    [Parameter]
    public string ActiveLanguage { get; set; }

}

<div class="container-fluid top-row ps-3 navbar navbar-dark">
    <a class="navbar-brand" href="">
        <span class="bi bi-mask" aria-hidden="true"></span>
        Blazor Application
        
        <div style="font-size:17px;color:gray;text-align:center;margin-left:20px">@DateTime.Now.ToLongTimeString()</div>
        
    </a>
    
</div>

<input type="checkbox" title="Navigation menu" class="navbar-toggler" />

<div class="nav-scrollable" onclick="document.querySelector('.navbar-toggler').click()">
    <nav class="flex-column">
        
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="" Match="NavLinkMatch.All">
                <span class="bi bi-house-door-fill-nav-menu" aria-hidden="true"></span> Home
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="counter">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Counter
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="weather">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Weather
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="config">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Configuration
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="styles">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Styles
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="javascripts">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Javascripts
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="navigations">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Navigations
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="parameters">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Parameters
            </NavLink>
        </div>
        
        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="lifecycle">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Life Cycle
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="quickgrid">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Quick Grid
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="games">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Forms
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="authorization/component">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Authorization Component
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="authorization/role">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Authorization Page (Role)
            </NavLink>
        </div>

        <div class="nav-item px-3">
            <NavLink class="nav-link p-2" href="authorization/policy">
                <span class="bi bi-list-nested-nav-menu" aria-hidden="true"></span> Authorization Page (Policy)
            </NavLink>
        </div>

    </nav>
</div>

