@page "/"
@using CleanArchitecture.Blazor.Views.Pages.Parameters


<PageTitle>Home</PageTitle>

<h1>Hello, Blazor</h1>

<p>Welcome to your new Blazor App, are you ready For the Journy</p>

<hr />

<Parameters Title="Title" Description="Description" />